/* @import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-color: #eeeee9;
  --secondary-color: #282828;
  --text-color: #fcfcfc;
  --optional-color: #eeeee9;
  --extra-optional-color: #6e6e6e;
  --hover-color: #caff34;
  --darker-hover-color: #7da01e;
  --main-font: "Inter", sans-serif;
  --main-animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* HEADER */

.header {
  position: fixed;
  padding: 30px;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
}

[class$="-container"] {
  max-width: 985px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-link {
  position: relative;
  padding: 11px 18px;
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  transition: color var(--main-animation);
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--hover-color);
  width: 100%;
  transform: scaleX(0);
  transition: all var(--main-animation);
}

.nav-link:hover {
  color: var(--hover-color);
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* HEADER */

/* HERO */
.hero {
  padding-top: 149px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-wrapper {
}

.hero-title {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: 80px;
}

.hero-text {
  font-family: inherit;
  font-size: 24px;
  color: var(--secondary-color);
  background-color: var(--hover-color);
  max-width: 421px;
  margin-top: 42px;
}

.hero-img {
  width: 537px;
  height: 669px;
}

/* HERO */

/* ABOUT */

.about-me {
  background-color: var(--secondary-color);
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-me-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.about-me-title {
  font-family: inherit;
  color: var(--text-color);
  font-size: 80px;
  text-align: right;
}

.photos-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.about-me-wrapper {
  max-width: 450px;
}

.about-me-text {
  font-family: inherit;
  color: var(--text-color);
  font-size: 18px;
  margin-bottom: 10px;
}

.about-me-text-list {
  list-style: disc;
}

.about-me-text-list li::marker {
  color: var(--hover-color);
}

.about-me-advantage {
  font-family: inherit;
  color: var(--text-color);
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 15px;
}

.about-me-advantage:last-child {
  margin-bottom: 40px;
}

.about-me-link {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  padding: 10px;
  transition: background-color var(--main-animation),
    color var(--main-animation);
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 20px;
  border-color: transparent;
}

.about-me-link:hover {
  background-color: var(--darker-hover-color);
  color: var(--text-color);
}

/* ABOUT */

/* PORTFOLIO */

.portfolio {
  margin-top: 60px;
}

.portfolio-title {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: 80px;
  text-align: left;
  margin-bottom: 40px;
}

swiper-container {
  width: 100%;
  height: 600px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* PORTFOLIO */

/* PRICES */

.prices {
  background-color: var(--secondary-color);
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/photo.webp");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  background-size: 1200px 450px;
}

.prices__title {
  font-family: inherit;
  color: var(--text-color);
  font-size: 80px;
  text-align: center;
  margin-bottom: 40px;
}

.price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 360px;
  height: 400px;
  background-color: var(--optional-color);
  margin: 90px 40px 0;
}

.card__title {
  font-family: inherit;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 24px;
  margin: 30px 0 120px 30px;
}

.card__price {
  font-family: inherit;
  color: var(--extra-optional-color);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.card__button {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  padding: 10px;
  transition: background-color var(--main-animation),
    color var(--main-animation);
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 20px;
  border-color: transparent;
  width: 80%;
  margin-left: 40px;
}

.card__button:hover {
  background-color: var(--darker-hover-color);
  color: var(--text-color);
}

/* PRICES */

/* QUESTIONS */

.questions {
  padding-top: 60px;
  padding-bottom: 60px;
}

.questions__title {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: 80px;
  text-align: left;
  margin-bottom: 40px;
}

.faq {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);
  margin-top: 30px;
  padding-bottom: 15px;
}

.faq.active .answer {
  max-height: 655px;
  animation: fade var(--main-animation);
}

.faq.active .question__icon {
  transform: rotate(180deg);
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question__text {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: 18px;
}

.question__icon {
  width: 16px;
  height: 16px;
  transition: transform var(--main-animation);
}

.answer {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  margin-top: 15px;
  transition: max-height var(--main-animation);
}

.answer-list {
  list-style: disc;
}

.answer-numbered-list {
  margin-top: 10px;
  list-style: decimal;
}

/* .answer-list li::marker {
  color: var(--hover-color);
} */

.answer-list__item {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 20px;
}

.answer-list__item-extra {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  font-weight: bold;
  list-style: none;
  margin-bottom: 10px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* QUESTIONS */

/* EXTRA-QUESTIONS */

/* EXTRA-QUESTIONS */

/* FOOTER */

footer {
  background-color: var(--secondary-color);
  margin-top: 94px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-contact-email {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: inherit;
  color: var(--optional-color);
  font-size: inherit;
  transition: color var(--main-animation);
  margin-right: 180px;
}

.footer-contact-phone {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: inherit;
  color: var(--optional-color);
  font-size: inherit;
  transition: color var(--main-animation);
  margin-left: 213px;
}

.footer-contact-email:hover {
  color: var(--hover-color);
}

.footer-contact-phone:hover {
  color: var(--hover-color);
}

.contact-icon {
  width: 20px;
  height: 20px;
  fill: var(--optional-color);
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icons-item {
  width: 32px;
  height: 32px;
}

.icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: background-color var(--main-animation);
}

.icons-link:hover {
  background-color: var(--hover-color);
}

.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.footer-ending-text {
  text-align: center;
  font-size: 12px;
  color: var(--extra-optional-color);

  margin-top: 100px;
  padding: 10px;
}

/* FOOTER */
