/* @import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-color: #eeeee9;
  --secondary-color: #282828;
  --text-color: #fcfcfc;
  --optional-color: #eeeee9;
  --extra-optional-color: #6e6e6e;
  --hover-color: #caff34;
  --darker-hover-color: #7da01e;
  --main-font: "Inter", sans-serif;
  --main-animation: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

body {
  background-color: var(--main-color);
  font-family: var(--main-font);
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

[class$="-container"] {
  max-width: 985px;
  margin: 0 auto;
}

/* ADAPTIVE*/

@media screen and (min-width: 320px) {
  [class$="-container"] {
    width: 320px;
    margin: 0 auto;
  }

  .hero__title {
    font-size: 60px;
  }

  .header__navigation {
    display: none;
  }

  .hero__text {
    font-size: 20px;
  }

  .hero__img {
    display: none;
  }

  .about-me__box {
    display: block;
  }

  .about-me__title {
    font-size: 40px;
  }

  .about-me-wrapper {
    margin-top: 20px;
  }

  .portfolio__title {
    font-size: 40px;
  }

  swiper-container {
    height: 400px;
  }

  .prices {
    background-size: 520px 450px;
  }

  .prices__title {
    font-size: 40px;
  }

  .price-wrapper {
    display: block;
  }

  .prices__card {
    width: 300px;
    height: 300px;
    margin: 90px 0 0;
    padding: 10px;
  }

  .card__title {
    font-size: 24px;
    text-align: center;
    margin: 30px 0 70px 0;
  }

  .card__price {
    margin-bottom: 70px;
  }

  .card__button {
    margin-left: 20px;
  }

  .questions__title {
    font-size: 40px;
  }

  .question__text {
    max-width: 300px;
  }

  .contacts__title {
    font-size: 40px;
    margin-bottom: 80px;
  }

  .contacts-wrapper {
    display: none;
  }

  .footer-wrapper {
    display: block;
  }

  .footer__contact-email {
    margin-top: 10px;
  }

  .footer__contact-phone {
    margin-left: 0;
  }

  .footer__list {
    margin-top: 70px;
    margin-bottom: 70px;
  }
}

@media screen and (min-width: 480px) {
  [class$="-container"] {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  [class$="-container"] {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 985px) {
  [class$="-container"] {
    width: 985px;
    margin: 0 auto;
  }

  .header__navigation {
    display: block;
  }

  .hero__title {
    font-size: 80px;
  }

  .hero__text {
    font-size: 24px;
  }

  .hero__img {
    display: block;
  }

  .about-me__box {
    display: flex;
    justify-content: space-between;
  }

  .about-me__title {
    font-size: 80px;
  }

  .about-me-wrapper {
    margin-top: 0;
  }

  .portfolio__title {
    font-size: 80px;
  }

  swiper-container {
    height: 600px;
  }

  .prices {
    background-size: 1200px 450px;
  }

  .prices__title {
    font-size: 80px;
  }

  .price-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .prices__card {
    width: 360px;
    height: 400px;
    margin: 90px 40px 0;
  }

  .card__title {
    font-size: 24px;
    margin: 30px 0 120px 30px;
  }

  .card__price {
    margin-bottom: 120px;
  }

  .card__button {
    margin-left: 30px;
  }

  .questions__title {
    font-size: 80px;
  }

  .question__text {
    max-width: 960px;
  }

  .contacts__title {
    font-size: 80px;
    margin-bottom: 40px;
  }

  .contacts-wrapper {
    display: block;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__contact-email {
    margin-right: 180px;
    margin-top: 0;
  }

  .footer__contact-phone {
    margin-left: 213px;
  }

  .footer__list {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* ADAPTIVE */

/* HEADER */

.header {
  position: fixed;
  padding: 30px 0;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 1000;
}

.header__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.header__link {
  position: relative;
  padding: 11px 18px;
  font-family: inherit;
  font-size: inherit;
  color: var(--text-color);
  transition: color var(--main-animation);
}

.header__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: var(--hover-color);
  width: 100%;
  transform: scaleX(0);
  transition: all var(--main-animation);
}

.header__link:hover {
  color: var(--hover-color);
}

.header__link:hover::after {
  transform: scaleX(1);
}

/* HEADER */

/* HERO */

.hero {
  padding-top: 149px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero__title {
  font-family: inherit;
  color: var(--secondary-color);
}

.hero__text {
  font-family: inherit;
  /* font-size: 24px; */
  color: var(--secondary-color);
  background-color: var(--hover-color);
  max-width: 421px;
  margin-top: 42px;
}

.hero__img {
  width: 537px;
  height: 669px;
}

/* HERO */

/* ABOUT */

.about-me {
  background-color: var(--secondary-color);
  margin-top: 94px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.about-me__box {
  /* display: flex; */
  margin-top: 20px;
}

.about-me__title {
  font-family: inherit;
  color: var(--text-color);
  /* font-size: 80px; */
  text-align: right;
}

.about-me__list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.about-me-wrapper {
  max-width: 450px;
}

.about-me__text {
  font-family: inherit;
  color: var(--text-color);
  font-size: inherit;
  margin-bottom: 10px;
}

.about-me__text-list {
  list-style: disc;
}

.about-me__text-list li::marker {
  color: var(--hover-color);
}

.about-me__advantage {
  font-family: inherit;
  color: var(--text-color);
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 15px;
}

.about-me__advantage:last-child {
  margin-bottom: 40px;
}

.about-me__link {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  padding: 10px;
  transition: background-color var(--main-animation),
    color var(--main-animation);
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 20px;
  border-color: transparent;
}

.about-me__link:hover {
  background-color: var(--darker-hover-color);
  color: var(--text-color);
}

/* ABOUT */

/* PORTFOLIO */

.portfolio {
  margin-top: 60px;
}

.portfolio__title {
  font-family: inherit;
  color: var(--secondary-color);
  /* font-size: 80px; */
  text-align: left;
  margin-bottom: 40px;
}

swiper-container {
  width: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

swiper-container::part(bullet-active) {
  background-color: var(--hover-color);
}

swiper-container::part(button-prev) {
  color: var(--hover-color);
}

swiper-container::part(button-next) {
  color: var(--hover-color);
}

/* PORTFOLIO */

/* PRICES */

.prices {
  background-color: var(--secondary-color);
  margin-top: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../images/photo.webp");
  background-repeat: no-repeat;
  background-position: 50% 40%;
  /* background-size: 1200px 450px; */
}

.prices__title {
  font-family: inherit;
  color: var(--text-color);
  /* font-size: 80px; */
  text-align: center;
  margin-bottom: 40px;
}

.prices__card {
  /* width: 360px;
  height: 400px; */
  background-color: var(--optional-color);
  /* margin: 90px 40px 0; */
}

.card__title {
  font-family: inherit;
  color: var(--secondary-color);
  font-weight: bold;
  /* font-size: 24px; */
  /* margin: 30px 0 120px 30px; */
}

.card__price {
  font-family: inherit;
  color: var(--extra-optional-color);
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 120px; */
}

.card__button {
  font-family: inherit;
  display: block;
  text-align: center;
  color: var(--secondary-color);
  font-size: inherit;
  padding: 10px;
  transition: background-color var(--main-animation),
    color var(--main-animation);
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 20px;
  border-color: transparent;
  width: 80%;
  /* margin-left: 30px; */
}

.card__button:hover {
  background-color: var(--darker-hover-color);
  color: var(--text-color);
}

/* PRICES */

/* QUESTIONS */

.questions {
  padding-top: 60px;
  padding-bottom: 60px;
}

.questions__title {
  font-family: inherit;
  color: var(--secondary-color);
  /* font-size: 80px; */
  text-align: left;
  margin-bottom: 40px;
}

.faq {
  cursor: pointer;
  border-bottom: 2px solid var(--secondary-color);
  margin-top: 30px;
  padding-bottom: 15px;
}

.faq.active .answer {
  max-height: 655px;
  animation: fade var(--main-animation);
}

.faq.active .question__icon {
  transform: rotate(180deg);
}

.question {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.question__text {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: 18px;
}

.question__icon {
  width: 16px;
  height: 16px;
  transition: transform var(--main-animation);
}

.answer {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  margin-top: 15px;
  transition: max-height var(--main-animation);
}

.answer-list {
  list-style: disc;
}

.answer-numbered-list {
  margin-top: 10px;
  list-style: decimal;
}

/* .answer-list li::marker {
  color: var(--hover-color);
} */

.answer-list__item {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  margin-bottom: 10px;
  margin-left: 20px;
}

.answer-list__item-extra {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  font-weight: bold;
  list-style: none;
  margin-bottom: 10px;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* QUESTIONS */

/* CONTACTS */

.contacts {
  background-color: var(--secondary-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts__title {
  font-family: inherit;
  color: var(--text-color);
  /* font-size: 80px; */
  text-align: left;
  /* margin-bottom: 40px; */
}

.contacts-box {
  display: flex;
  justify-content: space-between;
}

.contacts__form-wrapper {
  max-width: 470px;
}

.contacts__form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contacts__user-box {
  position: relative;
  width: 100%;
}

.contacts__form-name {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-color);
  outline: none;
  margin-bottom: 60px;
  color: var(--text-color);
  font-size: 14px;
  font-family: inherit;
}

.contacts__form-phone {
  width: 100%;
  height: 44px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--main-color);
  outline: none;
  margin-bottom: 100px;
  color: var(--text-color);
  font-size: 14px;
  font-family: inherit;
}

label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 0;
  font-size: inherit;
  font-family: inherit;
  color: var(--text-color);
  pointer-events: none;
  transition: all var(--main-animation);
}

.contacts__user-box input:focus ~ label,
.contacts__user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--hover-color);
  font-size: 14px;
}

.contacts-wrapper {
  max-width: 470px;
}

.contacts__list {
  display: flex;
  gap: 15px;
}

.contacts__button {
  font-family: inherit;
  color: var(--secondary-color);
  font-size: inherit;
  padding: 10px;
  transition: background-color var(--main-animation),
    color var(--main-animation);
  cursor: pointer;
  background-color: var(--hover-color);
  border-radius: 20px;
  border-color: transparent;
  width: 50%;
}

.contacts__button:hover {
  background-color: var(--darker-hover-color);
  color: var(--text-color);
}

/* CONTACTS */

/* FOOTER */

footer {
  background-color: var(--secondary-color);
  border-top: 1px solid var(--extra-optional-color);
}

.footer-wrapper {
  padding: 20px;
}

.footer__contact-email {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: inherit;
  color: var(--optional-color);
  font-size: inherit;
  transition: color var(--main-animation), fill var(--main-animation);
  /* margin-right: 180px; */
  fill: var(--optional-color);
}

.footer__contact-phone {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: inherit;
  color: var(--optional-color);
  font-size: inherit;
  transition: color var(--main-animation), fill var(--main-animation);
  /* margin-left: 213px; */
  fill: var(--optional-color);
}

.footer__contact-email:hover {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.footer__contact-phone:hover {
  color: var(--hover-color);
  fill: var(--hover-color);
}

.contact__icon {
  width: 20px;
  height: 20px;
}

.footer__list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer__item {
  width: 32px;
  height: 32px;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--text-color);
  border-radius: 50%;
  transition: background-color var(--main-animation);
}

.footer__link:hover {
  background-color: var(--hover-color);
}

.footer__icon {
  width: 20px;
  height: 20px;
  fill: var(--secondary-color);
}

.footer__text {
  text-align: center;
  font-size: 12px;
  color: var(--extra-optional-color);

  margin-top: 100px;
  padding: 10px;
}

/* FOOTER */
