@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@600&display=swap');

body {
  background-color: #eeeee9;
  color: var(--first-background-color);

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* MAIN PAGE NAVIGATION */

.site-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.site-link {
  font-family: 'Bitter', serif;
  font-size: 26px;
}

.site-link:hover {
  color: #f8d24e;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* MAIN PAGE NAVIGATION */

/* HEADER */

.header {
  position: fixed;
  padding: 30px;
  width: 100%;
  background-color: #282828;
  z-index: 1000;
}

[class$='-container'] {
  max-width: 985px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.nav-link {
  position: relative;
  padding: 11px 18px;
  font-family: 'Bitter', serif;
  font-size: 16px;
  color: #fcfcfc;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #caff34;
  width: 100%;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after {
  transform: scaleX(1);
}

/* HEADER */

/* HERO */
.hero {
  padding-top: 149px;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-info-wrapper {
}

.hero-title {
  font-family: 'Bitter', serif;
  font-size: 80px;
}

.hero-text {
  font-family: 'Bitter', serif;
  font-size: 24px;
  background-color: #caff34;
  max-width: 421px;
  margin-top: 42px;
}

.hero-img {
  width: 537px;
  height: 669px;
}

/* HERO */
